body {
    background-color: #feffed;
    color: rgb(31, 31, 31);

}



footer {
    text-align: center;
    margin-top: 20px;
}


.project-img {
  
    /* Set a maximum width for the image (adjust as needed) */
    margin-right: 20px;
    
    border: 5px solid #333;
    /* Add spacing between the image and text (adjust as needed) */
}

.image-container {
    display: flex; /* Use flexbox to align images side by side */
}

.image-container img {
     /* Set the width of each image to 50% to make them equal in size */
    max-width: 50%;
    height: auto; /* Maintain aspect ratio */
    border: 5px solid #333;
    margin-right: 20px;
    
}


